In [1]:
# pandas_basico.py
# Ejemplo práctico de los conceptos vistos en clase

import pandas as pd
import numpy as np

print("="*50)
print("1. CREACIÓN DE SERIES")
print("="*50)

# Crear Series desde diferentes fuentes
serie_lista = pd.Series([10, 20, 30, 40], name='Precios')
serie_dict = pd.Series({'Manzana': 3.5, 'Pera': 2.8, 'Plátano': 1.9})
serie_rango = pd.Series(np.linspace(0, 10, 5))

print("\nSerie desde lista:")
print(serie_lista)

print("\nSerie desde diccionario:")
print(serie_dict)

print("\nSerie con valores espaciados:")
print(serie_rango)

print("\nPropiedades de la serie:")
print(f"Valores: {serie_lista.values}")
print(f"Índices: {serie_lista.index}")
print(f"Tipo de datos: {serie_lista.dtype}")

print("\n" + "="*50)
print("2. CREACIÓN DE DATAFRAMES")
print("="*50)

# Crear DataFrames desde diferentes fuentes
datos = {
    'Nombre': ['Ana', 'Carlos', 'Diana', 'Pedro'],
    'Edad': [25, 32, 28, 41],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla'],
    'Puntuación': [85, 92, 78, 88]
}

df_dict = pd.DataFrame(datos)
df_lista = pd.DataFrame([
    ['Ana', 25, 85],
    ['Carlos', 32, 92],
    ['Diana', 28, 78],
    ['Pedro', 41, 88]
], columns=['Nombre', 'Edad', 'Puntuación'])

print("\nDataFrame desde diccionario:")
print(df_dict)

print("\nDataFrame desde lista de listas:")
print(df_lista)

print("\nPropiedades del DataFrame:")
print(f"Dimensiones: {df_dict.shape}")
print(f"Columnas: {df_dict.columns.tolist()}")
print(f"Índices: {df_dict.index.tolist()}")

print("\n" + "="*50)
print("3. INDEXACIÓN Y FILTRADO")
print("="*50)

# Selección de columnas
print("\nSelección de columna 'Nombre':")
print(df_dict['Nombre'])

print("\nSelección múltiple de columnas:")
print(df_dict[['Nombre', 'Puntuación']])

# Filtrado con condiciones
print("\nPersonas mayores de 30 años:")
print(df_dict[df_dict['Edad'] > 30])

print("\nPersonas con puntuación entre 80 y 90:")
print(df_dict[(df_dict['Puntuación'] >= 80) & (df_dict['Puntuación'] < 90)])

# Selección con loc e iloc
print("\nSelección con loc (fila 1, columna 'Ciudad'):")
print(df_dict.loc[1, 'Ciudad'])

print("\nSelección con iloc (fila 1, columna 2):")
print(df_dict.iloc[1, 2])

print("\nFiltrado con loc:")
print(df_dict.loc[df_dict['Ciudad'] == 'Madrid', ['Nombre', 'Puntuación']])

print("\n" + "="*50)
print("4. OPERACIONES BÁSICAS")
print("="*50)

# Operaciones aritméticas
print("\nEdad aumentada en 5 años:")
print(df_dict['Edad'] + 5)

# Crear nueva columna
df_dict['Edad_Futura'] = df_dict['Edad'] + 10
print("\nDataFrame con nueva columna:")
print(df_dict)

# Funciones estadísticas
print("\nEstadísticas descriptivas:")
print(df_dict.describe())

print("\nPuntuación promedio:")
print(df_dict['Puntuación'].mean())

print("\nMáxima edad:")
print(df_dict['Edad'].max())

# Operaciones con strings
print("\nNombres en mayúsculas:")
print(df_dict['Nombre'].str.upper())

# Guardar resultados en CSV
df_dict.to_csv('datos_estudiantes.csv', index=False)
print("\n¡Datos guardados en 'datos_estudiantes.csv'!")

==================================================
1. CREACIÓN DE SERIES
==================================================

Serie desde lista:
0    10
1    20
2    30
3    40
Name: Precios, dtype: int64

Serie desde diccionario:
Manzana    3.5
Pera       2.8
Plátano    1.9
dtype: float64

Serie con valores espaciados:
0     0.0
1     2.5
2     5.0
3     7.5
4    10.0
dtype: float64

Propiedades de la serie:
Valores: [10 20 30 40]
Índices: RangeIndex(start=0, stop=4, step=1)
Tipo de datos: int64

==================================================
2. CREACIÓN DE DATAFRAMES
==================================================

DataFrame desde diccionario:
   Nombre  Edad     Ciudad  Puntuación
0     Ana    25     Madrid          85
1  Carlos    32  Barcelona          92
2   Diana    28   Valencia          78
3   Pedro    41    Sevilla          88

DataFrame desde lista de listas:
   Nombre  Edad  Puntuación
0     Ana    25          85
1  Carlos    32          92
2   Diana    28          78
3   Pedro    41          88

Propiedades del DataFrame:
Dimensiones: (4, 4)
Columnas: ['Nombre', 'Edad', 'Ciudad', 'Puntuación']
Índices: [0, 1, 2, 3]

==================================================
3. INDEXACIÓN Y FILTRADO
==================================================

Selección de columna 'Nombre':
0       Ana
1    Carlos
2     Diana
3     Pedro
Name: Nombre, dtype: object

Selección múltiple de columnas:
   Nombre  Puntuación
0     Ana          85
1  Carlos          92
2   Diana          78
3   Pedro          88

Personas mayores de 30 años:
   Nombre  Edad     Ciudad  Puntuación
1  Carlos    32  Barcelona          92
3   Pedro    41    Sevilla          88

Personas con puntuación entre 80 y 90:
  Nombre  Edad   Ciudad  Puntuación
0    Ana    25   Madrid          85
3  Pedro    41  Sevilla          88

Selección con loc (fila 1, columna 'Ciudad'):
Barcelona

Selección con iloc (fila 1, columna 2):
Barcelona

Filtrado con loc:
  Nombre  Puntuación
0    Ana          85

==================================================
4. OPERACIONES BÁSICAS
==================================================

Edad aumentada en 5 años:
0    30
1    37
2    33
3    46
Name: Edad, dtype: int64

DataFrame con nueva columna:
   Nombre  Edad     Ciudad  Puntuación  Edad_Futura
0     Ana    25     Madrid          85           35
1  Carlos    32  Barcelona          92           42
2   Diana    28   Valencia          78           38
3   Pedro    41    Sevilla          88           51

Estadísticas descriptivas:
            Edad  Puntuación  Edad_Futura
count   4.000000    4.000000     4.000000
mean   31.500000   85.750000    41.500000
std     6.952218    5.909033     6.952218
min    25.000000   78.000000    35.000000
25%    27.250000   83.250000    37.250000
50%    30.000000   86.500000    40.000000
75%    34.250000   89.000000    44.250000
max    41.000000   92.000000    51.000000

Puntuación promedio:
85.75

Máxima edad:
41

Nombres en mayúsculas:
0       ANA
1    CARLOS
2     DIANA
3     PEDRO
Name: Nombre, dtype: object

¡Datos guardados en 'datos_estudiantes.csv'!